@import 'modules/variables';
@import 'modules/animations';
@import 'modules/extensions';
@import 'modules/mixins';

::selection {
  background-color: $light-yellow;
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}

body,
.modal-body {
  background-color: $light-grey;
}

@import 'partials/orange-buttons';
@import 'partials/alerts';
@import 'partials/navbar';
@import 'partials/login';
@import 'partials/hub';
@import 'partials/prep';
@import 'partials/cook';
@import 'partials/cook-plan';
@import 'partials/create-edit';
@import 'partials/post-mortem';
@import 'partials/help';
@import 'partials/reset-password';
@import 'partials/total-time-remaining';
