<div class="container" id="about">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>CRUD APP.</h1>
      <h3>store, create, edit, and delete recipes</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>ITEMIZER.</h1>
      <h3>email yourself scaled shopping lists</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>SCHEDULER.</h1>
      <h3>have recipes done at specific times</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>TIMER.</h1>
      <h3>countdown recipes</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>REFINER.</h1>
      <h3>time recipes. edit accordingly</h3>
    </div>
  </div>
</div>
