@keyframes slide-down {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes stretch-out {
  0% {
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(1);
  }
}
